:root {
    --60p-color: #2c2b35;
    --30p-color: #95a297;
    --10p-color: #dcb481;
    background-color: var(--60p-color);
}

.navigation {
    background-color: var(--60p-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    width: 100dvw;
    position: fixed;
    border-style: solid;
    border-color: var(--30p-color);
    border-left: rgba(149, 162, 151, .5);
    border-top: rgba(149, 162, 151, .5);
    border-right: rgba(149, 162, 151, .5);
}

.name-logo {
    color: var(--10p-color);
    margin-left: 2rem;
    font-size: 2rem;
    white-space: nowrap;
    cursor: pointer;
}

.navi-items {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navi-item {
    color: var(--30p-color);
    margin-right: 2rem;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.navi-item:hover {
    text-decoration: underline;
    text-decoration-color: var(--10p-color);
}

.navi-menu {
    position: fixed;
    display: flex;
    height: 100dvh;
    justify-content: center;
    padding-top: .8rem;
}

.mini-navi-items {
    background-color: var(--60p-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100dvw;
    padding-top: 1rem;
}

.mini-navi-item {
    list-style: none;
    border-style: solid;
    border-color: var(--30p-color);
    font-size: 2rem;
    color: var(--30p-color);
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 1rem 0 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}